@{
    Layout = "~/Views/Layouts/_VueAppLayout.cshtml";
    var now = DateTime.Now;
    var dateAndHour = new DateTime(now.Year, now.Month, now.Day, now.Hour, 0, 0).ToString("yyyy-MM-dd HH");
}

<div id="app">
    <router-view>
    </router-view>
</div>

@section PageStyles {
    <link href="/vue/css/app.css" rel="stylesheet">
}

@section PageScripts {
    <script defer="defer" src="/vue/js/chunk-vendors.js"></script>
    <script defer="defer" src="/vue/js/app.js?v=@(dateAndHour)"></script>
}