.authentication-page {
  &,
  &__container {
    min-height: 100vh;
  }

  &__container {
    padding: 48px 0;
  }

  &__logo {
    display: flex;
    margin: 0 auto 56px;
    width: 100%;
    max-width: 200px;
    height: auto;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .back-link {
      margin-bottom: 0;
    }
  }

  &,
  &__bg-waves {
    background-color: $color-white;
  }

  &__bg-waves-container {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
  }

  &__bg-waves {
    flex-shrink: 0;
    height: 350px;
    width: 975px;
  }

  .waves-bg-wave {
    fill: $color-white;
    opacity: 0.3;
    mix-blend-mode: soft-light;
  }
}

//Breakpoints ==================================
@include breakpoint(sm-up) {
  .authentication-page {
    &__bg-waves {
      height: 480px;
      width: 1340px;
    }
  }
}
