// colors
$color-white: #ffffff;
$color-black: #000000;

$color-grey-medium: #5C5C5C;
$color-grey: #d3d3d3;
$color-grey-light: #EFEFEF;
$color-grey-lighter: #E7E7E3;

$color-green: #7AC142;
$color-green-light: #ABEFAA;
$color-green-lighter: #F0FAFE;

$color-red: #ED1B2D;

$color-text: $color-black;
$color-border: transparentize($color-grey-medium, 0.8);
// palette de couleur 
$text: #180202;
$background: #fafafa;
$primary: #F4F0EB;
$secondary: #e6e6e5;
$accent: #E5A97D;
